<nav class="flex m-2 justify-between text-neutral-200">

    <div class="logo flex">
        <p class="hamburger text-2xl ml-2 mr-12 "><i class="fa-solid fa-bars"></i></p>
        <img src="/assets/tasks.png" class="h-10 ml-4" alt="Logo"/>
        <p class="logo text-xl text-sky-500 font-arima mt-2 font-bold">Planify</p>
    </div>

    <div class="search flex border-2 border-black rounded-lg overflow-hidden bg-neutral-200 text-zinc-800">
        <i class="fa-solid fa-magnifying-glass m-3"></i>
        <input type="text" placeholder="Search" class=" font-md focus:outline-none w-[30rem] px-4"/>
    </div>

    <div class="options text-2xl mx-4 text-white  ">
        <i class="fa-solid fa-arrows-rotate mr-4"></i>
        <i class="fa-solid fa-cloud-sun mr-4"></i>  <!-- <i class="fa-solid fa-moon"></i> -->
        <i class="fa-solid fa-gear mr-4"></i>
        <i class="fa-solid fa-user-large mr-4"></i>
    </div>

    

</nav>
<hr class="my-2"/>